
    *{
        margin: 0;
        padding:0;
    }
html{
      background: url("pictures/different-shades-of-green-color-2078266.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
    
    
    
    
}
#page-container{
    position: relative;
}
    body{
         font-family: "Raleway";
        color: #F1F9FF;
        line-height:1.6;
        height: 100vh;
       
    }
    .container{
        width: 100%;
        height: 100%;
        
        
        
    }   
    .navbar{
        position:absolute;
        top:0%;
        z-index: 1;
        display:flex;
        width: 100%;
        height: 70px;
        text-align: center;
        background-color: rgba(255,255,255,0.2);
        
    }

    
    .navbar ul{
        list-style: none;
        display: flex;
        list-style: n
            one;
        width: 100%;
        justify-content: center;
    }
    .navbar ul li{
        margin: 1rem;
        padding: 1rem;
    }
    .navbar ul li a{
        text-decoration: none;
        text-transform: uppercase;
        color:white;
    }    .navbar ul li a:hover{
        color:#7FC4FD;
    } 

    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    div.h{
        position: absolute;
        text-align: center;
        top:30%;
        width:50%;
        padding:10px;
        text-shadow: 4px 4px 8px black;
   animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
    }


div .h p{
    font-size: 40px;
    font-weight: 600;
    

    
}
      
    div.mission{
        position:absolute;
        height: 45%;
        width:48%;
        padding:15px;
       background-color:#F3D250;
        left:0%;
        top:100%;
        text-align:justify;
        letter-spacing: 0.5px;
        font-family: 'Balsamiq Sans', cursive;    

    }
     div.vision{
        position:absolute;
        width:48%;
         height: 45%;
        padding:15px;
        background-color:#F78888;
        right:0%;
        top:100%;
         text-align: justify;
         font-family: 'Balsamiq Sans', cursive;
    }
     div.core1{
        position:absolute;
        width:100%;
         height: 47%;
        padding:10px;
        background-color:#90CCF4;
        left:0%;
         top:149%;
         font-size:25px;
         text-align: center;
         font-family: 'Balsamiq Sans', cursive;
         
    }
.core1:hover{
    background-image: url("pictures/bri.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    
}
   .mission:hover{
    background-image: url("pictures/bri.jpg");
       background-repeat: no-repeat;
       background-size: 100%;
       
}
.vision:hover{
    background-image: url("pictures/bri.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
    div.co{ position:absolute;
        width:30%;
        left:15%;
        text-align: left;
        font-size: 18px;
        
    }
   
     div.dev{ position:absolute;
        width:30%;
        left:54%;
         text-align:left;
         font-size: 18px;
        
    }
    
    h2{
        color: black;
        text-align: center;
        text-transform: uppercase;
        font-size: 33px;
    }
 h4{
        color: black;
        text-align: center;
        text-transform: uppercase;
        
    }
    h3{
        color:gray;
    }
    .h p{
        color: darkcyan; 
    }
.co p{
    color:#875C36;
    text-align: left;
    font-style: Courier;
} 

.gro p{
    color:#875C36;
    text-align: left;
} 
.str p{
      color:#875C36;
    text-align: left;
    
} 
.dev p{
      color:#875C36;
    text-align: left;
} 
.mission p{
    position: absolute;
      color:#875C36;
    width: 40%;
    font-size: 18px;
    left: 25%;
    padding: 5%;
     
}
.vision p{
      position: absolute;
      color:#875C36;
    width: 40%;
    font-size: 18px;
    right: 18%;
    padding: 5%;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.main-content{
    display: flex;
    background-color:#222222;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;   
    
}
.box h3{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
}
.left.content p{
    text-align: justify;
}
.left .content .social{
  padding:20px 0 0;  
}
.left .content .social a{
    padding: 0 2px;
}
left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background: #f12020;
}
.app{
    position: relative;
    top: 25%;
    font-size:40px;
    color:wheat;
    
     
}

#main-header{
    font-size: 400%;
    letter-spacing: 2px;
    color:#2699FB;
}
